@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', Helvetica, sans-serif;
}